@import "../../style.module";

.slider {
  @include flex-column;
  align-items: flex-start;
  gap: $indent-35;
  width: 100%;

  &__header {
    @include flex-row;
    width: 100%;

    &__title {
      @include inter-medium-50;
      color: $main-black;
      line-height: normal;
    }

    &__buttons {
      @include flex-row;
      gap: $indent-20;
    }
  }

  &__body {
    @include flex-row;
    width: 100%;

    &__img {
      width: 100%;
      height: 280px;
      border-radius: $border-radius;

    }

    &__text {
      @include flex-column;
      justify-content: flex-end;
      align-items: flex-start;
      width: 100%;
      height: 280px;
      border-radius: $border-radius;
      background-color: $contacts-page-color;
      padding: 20px;


      &__p {
        max-width: 395px;
        @include inter-medium-20;
        color: $main-white;
      }
    }
  }
}

@media screen and (max-width: 845px) {
  .slider__body {
    flex-direction: column;
  }
  .slider__header__title {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .slider__header__buttons {
    gap: $indent-10;
  }
  .slider__header {
    align-items: flex-end;
  }
}

@media screen and (max-width: 515px) {
  .slider {
    gap: $indent-20;
  }
  .slider__header__title {
    @include inter-medium-35;
    font-size: 30px;
  }
  .slider__body__text__p {
    @include inter-regular-18;
  }
  .slider__body__img, .slider__body__text {
    height: 175px;
  }
}
