@import '../../style.module';

.wrapper {
  @include flex-column;
  margin: $indent-65 auto $indent-150;
  gap: $indent-35;

  &__header {
    width: 100%;
    @include flex-column;
    gap: $indent-35;

    &__goBackBtn {
      align-self: flex-start;
    }

    &__title {
      @include inter-medium-50;
      color: $main-black;
      text-align: center;
    }
  }


  &__textContainer {
    @include flex-column;
    align-items: flex-start;
    gap: $indent-35;
    width: 100%;
    max-width: 1080px;
    color: $main-black;

    &__paragraf {
      @include flex-column;

      &__title {
        @include inter-medium-35;
        margin-bottom: $indent-35;
        text-align: center;
      }

      &__text {
        @include inter-regular-20;
        line-height: 30px;
        text-align: justify;
      }
    }


    &__files {
      @include flex-column;
      align-items: flex-start;
      gap: $indent-35;
      height: 100%;

    }
  }
}

@media screen and (max-width: 505px) {
  .wrapper__textContainer__files {
    gap: $indent-20;
  }
}

@media screen and (max-width: 485px) {
  .wrapper {
    gap: $indent-20;
    margin: 35px auto 65px;
  }
  .wrapper__header__title {
    @include inter-medium-35;
    font-size: 30px;
  }
  .wrapper__textContainer__paragraf__text {
    @include inter-regular-18;
    text-align: left;
  }
}
