@import '../../style.module.scss';

.list__item {
        width: 100%;
        @include flex-row;
    @include inter-medium-20;
    font-size: 25px;
    }

@media screen and (max-width: 430px) {
    .list__item {
        flex-wrap: wrap;
        gap: 15px;
    }
    
}