@import "../../style.module";

.header {
  @include flex-column;
  width: 100%;
  padding: 20px 65px 10px;
  gap: $indent-65;
  background-color: $main-white;
  margin-bottom: 30px;
  position: fixed;
  top: 0;

  &__container {
    @include flex-row;
    justify-content: space-between;
    width: 100%;

    &__logo {
      width: 265px;
      height: 37px;
    }

    &__button {
      width: 35px;
      height: 35px;
      position: relative;

      &__line {
        position: absolute;
        top: 10px;
        left: 5px;
        display: block;
        width: 23px;
        height: 2.5px;
        background-color: $main-page-color;
        transition: 0.5s all;

        &::before {
          content: "";
          display: block;
          width: 23px;
          height: 2.5px;
          background-color: $main-page-color;
          margin-top: 7.5px;
        }

        &::after {
          content: "";
          display: block;
          width: 23px;
          height: 2.5px;
          background-color: $main-page-color;
          margin-top: 5px;
        }

        &__active {
          top: 20px;
          transform: rotate(45deg);

          &::before {
            content: "";
            display: block;
            width: 23px;
            height: 2.5px;
            background-color: $main-page-color;
            margin-top: 0;
            transform: rotate(90deg);
          }

          &::after {
            display: none;

          }
        }
      }
    }

    &__body {
      @include flex-column;
      gap: $indent-65;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      transition: 0.5s all ease-in;
      display: none;

      &__adressBlock {
        @include flex-row;
        align-items: flex-start;
        width: 100%;
      }

      &__active {
        display: flex;
      }
    }
  }
}


@media screen and (max-width: 880px) {
  .header__container__logo {
    width: 225px;
    height: 35px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (max-width: 560px) {
  .header {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 495px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__container__logo {
    width: 195px;
    height: 30px;
  }
  .header__container__body__adressBlock {
    flex-direction: column;
    gap: $indent-20;
  }

}

@media screen and (max-width: 370px) {
 .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 340px) {
.header {
    padding-left: 15px;
    padding-right: 15px;
  }
}