@import "../../style.module";

.wrapper {
  @include flex-column;
  align-items: flex-start;
  gap: $indent-35;
  margin-bottom: $indent-150;

  &__title {
    @include inter-medium-50;
    color: $main-black;
  }

  &__twoBlocks {
    @include flex-row;
    width: 100%;
  }
}

@media screen and (max-width: 1365px) {
  .wrapper__twoBlocks {
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper__twoBlocks {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .wrapper__title {
    @include inter-medium-35;
    font-size: 30px;
  }
}