@import "../../style.module";

.background {
  display: block;
  width: 100%;
  height: 490px;
  background: url("../../images/AD-2-picture1.png") no-repeat;
  background-size: contain;
  margin-bottom: $indent-150;
}

@media screen and (max-width: 1415px) {
  .background {
    height: 450px;
  }
}

@media screen and (max-width: 1180px) {
  .background {
    height: 400px;
  }
}


@media screen and (max-width: 1125px) {
  .background {
    height: 360px;
  }
}

@media screen and (max-width: 1095px) {
  .background {
    //width: 100%;
    height: 400px;
    background: url("../../images/AD-2-picture.png") no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 940px) {
  .background {
    height: 350px;
  }
}

@media screen and (max-width: 840px) {
  .background {
    height: 290px;
  }
}

@media screen and (max-width: 775px) {
  .background {
    margin-bottom: $indent-65;
  }
}

@media screen and (max-width: 725px) {
  .background {
    height: 260px;
  }
}

@media screen and (max-width: 675px) {
  .background {
    height: 230px;
  }
}


@media screen and (max-width: 620px) {
  .background {
    height: 330px;
    background: url("../../images/AD-2-picture3.png") no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 500px) {
  .background {
    height: 270px;
  }
}

@media screen and (max-width: 435px) {
  .background {
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .background {
    height: 230px;
  }
}

@media screen and (max-width: 365px) {
  .background {
    height: 210px;
  }
}