@import "../../style.module";

.wrapper {
  @include flex-column;
  align-items: flex-start;
  width: max-content;
  gap: $indent-5;
  width: 100%;

  &__title {
    @include inter-medium-14;
    color: $main-gray;

  }

  &__text {
    @include inter-medium-20;
    color: $main-page-color;
    max-width: 700px;
    width: 100%;
    text-decoration: none;
  }
}

@media screen and (max-width: 845px) {
  .wrapper__text {
    @include inter-medium-20;
    font-size: 18px;
  }
}

@media screen and (max-width: 545px) {
  .wrapper {
    width: 100%;
  }
}
