@import "../../style.module";

.block {
  display: block;
  width: 100%;
  height: 210px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid $main-gray;
  background-color: $main-white;
  position: relative;
  overflow: hidden;
  color: $main-black;

  &__circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 1;
    transition: width 3s;
  }

  &__text {
    @include inter-medium-20;
    line-height: 150%;
    max-width: 290px;
    width: 100%;
    text-align: left;
    z-index: 2;

    &:hover {
      //color: $main-white;
      z-index: 5;
    }
  }
}

.hoverCircle {
  width: 400px;
  height: 400px;
  top: -50%;
  right: -20%;
  background-color: #DC2C1D;
}

.accent {
  background-color: $main-page-color;
  border-color: $main-page-color;
  color: $main-white;
}

@media screen and (max-width: 1275px) {
  .block__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .block__text {
    @include inter-regular-18;
    font-weight: 500;
  }
}

@media screen and (max-width: 780px) {
  .block {
    height: 210px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 625px) {
  .block {
    height: 150px;
  }
}

@media screen and (max-width: 350px) {
  .block {
    height: 180px;
  }
}

