@import "../../style.module";

.wrapper {
  @include flex-column;
  justify-content: space-between;
  //gap: 40px;
  width: 610px;
  height: 285px;
  padding: 20px;
  background-color: $main-white;
  border: 1px solid $main-gray;
  border-radius: $border-radius;

  &__header {
    @include flex-row;
    justify-content: space-between;
    width: 100%;

    &__image {
      width: 200px;
      height: 90px;
    }

    &__link {
      color: $main-page-color;
      transition: 0.3s all;

      &:hover, &:active {
        color: $contacts-page-color;
      }
    }
  }

  &__description {
    @include inter-regular-18;
    line-height: 150%;
    //letter-spacing: -2.2px;
    width: 100%;
  }
}

@media screen and (max-width: 1135px) {
  .wrapper {
    height: 300px;
  }
}

@media screen and (max-width: 990px) {
  .wrapper {
    height: 320px;
  }
}

@media screen and (max-width: 940px) {
  .wrapper {
    height: 340px;
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 525px) {
  .wrapper__header__image {
    height: 70px;
    width: 150px;
  }
}

@media screen and (max-width: 485px) {
  .wrapper__description {
    @include inter-regular-14;
  }
  .wrapper {
    height: auto;
    gap: $indent-35;
  }
  .wrapper__header__link {
    @include inter-regular-14;
  }
}

@media screen and (max-width: 375px) {
  .wrapper__header__image {
    height: 50px;
    width: 110px;
  }
}