@import "../../style.module";

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  justify-items: center;
  align-items: center;
  row-gap: $indent-20;
  margin-bottom: $indent-150;
}


@media screen and (max-width: 1105px) {
  .wrapper {
    gap: $indent-20;
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    justify-items: start;
  }
}