@import "../../style.module";

.card {
  @include flex-column;
  max-width: 420px;
  height: 130px;
  background-color: $main-white;
  color: $main-page-color;
  text-decoration: none;
  border: 1px solid $main-gray;
  border-radius: $border-radius;
  padding: 20px;
  transition: 0.3s all;

  &__line {
    @include flex-row;
    width: 100%;

    &__title {
      @include inter-regular-20;
      max-width: 318px;
      width: 100%;
    }
  }

  &:hover {
    background-color: $main-page-color;
    color: $main-white;
    border-color: $main-page-color;
    cursor: pointer;
  }
}