@import "../../style.module";

.search__label {
  max-width: 1300px;
  width: 100%;
  position: relative;

  &__img {
    position: absolute;
    top: 10px;
    left: 15px;
  }
}

.search__input {
  width: 100%;
  height: 38px;
  padding: 10px 36px;
  border: 1px solid $main-gray;
  border-radius: $border-radius;
  background-color: $main-white;
  color: $main-gray;
  transition: 0.3s all;

  &:hover {
    border-color: #ACACAC;
  }
  &:focus {
    color: $main-black;
  }

}