@import "../../style.module";

.wrapper {
  @include flex-column;
  align-items: flex-start;
  max-width: 350px;
  width: 100%;
  height: 100%;
  gap: $indent-5;

  &__title {
    @include inter-medium-14;
    color: $main-gray;
  }

  &__tagsList {
    width: 100%;
    @include flex-row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    &__button {
      @include inter-regular-14;
      line-height: normal;
      width: max-content;
      height: 100%;
      padding: 5px 8px;
      color: $main-white;
      border-radius: $border-radius;
      transition: 0.3s all;

      &.pink {
        background-color: $provider-page-color;
        border: 1px solid $provider-page-color;

        &:hover {
          background-color: $main-white;
          color: $provider-page-color;
        }
      }

      &.yellow {
        background-color: $catalog-page-color;
        border: 1px solid $catalog-page-color;

        &:hover {
          background-color: $main-white;
          color: $catalog-page-color;
        }
      }


    }
  }
}

@media screen and (max-width: 935px) {
  .wrapper {
    max-width: none;
    width: 100%;
  }
}