@import "../../style.module";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  &__title {
    @include inter-regular-14;
    margin-bottom: 10px;
  }

  &__tagsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}


/* Стили для кнопки "Выбрать все / Сбросить все" */
.selectAllButton {
  @include inter-regular-14;
  padding: 5px 8px;
  background-color: $main-white;
  color: $catalog-page-color;
  border: 1px solid $catalog-page-color;
  border-radius: $border-radius;
  cursor: pointer;
  transition: 0.3s all;
  margin-right: 8px;
  margin-bottom: 8px;

  &:hover {
    border-color: $catalog-page-color;
    color: $catalog-page-color;
  }

  &:active, &.active {
    background-color: $catalog-page-color;
    color: $main-white;
    border-color: $catalog-page-color;
  }
}
