@import "../../style.module";

.card {
  @include flex-column;
  align-items: flex-start;
  justify-content: space-between;
  width: 310px;
  height: 330px;
  color: $main-black;
  background-color: $main-white;
  border-radius: $border-radius;
  border: 2px solid $main-gray;
  overflow: hidden;
  text-decoration: none;
  transition: 0.5s all;

  &:hover {
    background-color: $catalog-page-color;
    color: $main-white;
  }

  &__image {
    width: 100%;
    height: 130px;
    background-color: $main-white;
    border-radius: $border-radius;
  }

  &__wrapper {
    @include flex-column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    padding: 10px 20px 20px;

    &__name {
      @include inter-regular-20;
      font-size: 25px;
    }

    &__tags {
      @include flex-row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: $indent-10;
      width: 100%;
    }
  }
}