@import '../../style.module';

.wrapper {
  max-width: 1300px;
  width: 100%;
  @include flex-column;
}

.content {
  width: 100%;
}

@media screen and (max-width: 1350px) {
  .wrapper {
    margin: 0 70px;
  }

}