@import '../../style.module';

.card {
  @include flex-column;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  height: 320px;
  background-color: $main-white;
  border-radius: $border-radius;
  border: 2px solid $main-gray;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s all;

  &:hover {
    border-color: $provider-page-color;
    background-color: $provider-page-color;
  }

  &:hover h3 {
    color: $main-white;
  }

  &__wrapper {
    @include flex-column;
    width: 100%;
    height: 140px;
    background-color: $main-white;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &__image {
      height: 100%;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      align-self: center;
    }
  }

  &__name {
    display: block;
    @include inter-regular-25;
    width: 100%;
    height: 140px;
    padding: 20px;
    color: $main-black;
    display: -webkit-box; /* Использование flex-контейнера с определенной ориентацией */
    -webkit-box-orient: vertical; /* Определение вертикальной ориентации контейнера */
    -webkit-line-clamp: 3; /* Определение максимального количества отображаемых строк */
    overflow: hidden; /* Обрезание текста, который не помещается в заданное количество строк */
    text-overflow: ellipsis;
  }
}