@import "../../style.module";

.wrapper {
  @include flex-column;
  align-items: flex-start;
  margin: $indent-150 0;
  //max-width: 1300px;
  width: 100%;
  overflow: hidden;

  &__header {
    @include flex-row;
    width: 100%;
    margin-bottom: $indent-35;


    &__title {
      @include inter-medium-50;
    }

    &__buttons {
      @include flex-row;
      gap: $indent-20;
    }
  }

  &__slider {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: $indent-65;
  }

  &__button {
    display: block;
    @include main-button;
    align-self: center;

    &:hover {
      @include main-button-hover;
    }
  }
}

@media screen and (max-width: 1300px) {
  .wrapper__slider {
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
  }
}

@media screen and (max-width: 1085px) {
  .wrapper__slider {
    grid-template-columns: repeat(2, max-content);
    overflow-x: hidden;
    justify-content: space-between;
  }
}

@media screen and (max-width: 775px) {
  .wrapper {
    margin-top: $indent-65;
  }
  .wrapper__slider {
    display: flex;
    flex-direction: column;
    gap: $indent-20;
    justify-content: center;
    align-items: center;
  }
  .wrapper__header__buttons {
    display: none;

  }
}

@media screen and (max-width: 485px) {
  .wrapper__header {
    margin-bottom: $indent-20;
  }
  .wrapper__header__title {
    @include inter-medium-35;
    font-size: 30px;
  }
  .wrapper__button {
    @include inter-regular-18;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    margin-bottom: $indent-65;
  }
  .wrapper__slider {
    padding-bottom: $indent-20;
  }
}