@import "../../style.module";

.wrapper {
  @include flex-column;
  margin: $indent-150 0;
  max-width: 1300px;
  width: 100%;

  &__header {
    width: 100%;


    &__title {
    @include inter-medium-50;
      margin-bottom: $indent-35;
    }
  }

  &__slider {
    @include flex-row;
    width: 100%;
    overflow: hidden;
    padding-bottom: $indent-65;
  }

  &__button {
    display: block;
    @include main-button;

    &:hover {
      @include main-button-hover;
    }
  }
}