@import "../../style.module.scss";

.header {
  padding: 30px 70px;
  @include flex-row;

  &__logo {
    max-width: 265px;
    max-height: 38px;
    width: 100%;
    height: 100%;
  }

  &__number {
  @include inter-medium-14;
  }
}