@import "../../style.module";

.body {
  @include flex-column;
  gap: $indent-65;

  &__typeSection {
    width: 100%;

    &__title {
      @include inter-medium-35;
      margin-bottom: 25px;
    }

    &__description {
      @include inter-regular-20;
      max-width: 800px;
      margin-bottom: 20px;
    }
  }

  &__cardsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    justify-items: center;
    align-items: center;
    gap: $indent-20;
    //justify-content: flex-start;
    //row-gap: $indent-35;

    &__btnShowMore {
      @include main-button;
      color: $provider-page-color;
      border-color: $provider-page-color;

      &:hover {
        @include main-button-hover;
        background-color: $provider-page-color;
        cursor: pointer;
      }
    }

  }
}