@import "../../style.module";

.wrapper {
  @include flex-column;
  gap: $indent-35;
  margin-bottom: $indent-150;

  &__title {
    @include inter-medium-50;
    color: $main-black;
    align-self: flex-start;
  }

  &__texhList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }

}