@import "../../style.module";

.wrapper {
  @include flex-column;
  gap: $indent-35;
  margin-bottom: $indent-150;

  &__title {
    @include inter-medium-50;
    color: $main-black;
    align-self: flex-start;
  }

  &__texhList {
    @include flex-row;
    flex-wrap: wrap;
    gap: 20px;
  }

}