@import "../../style.module";

.wrapper {
  @include flex-column;
  gap: $indent-35;
  margin-bottom: $indent-150;

  &__title {
    @include inter-medium-50;
    color: $main-black;
    align-self: flex-start;
  }

  &__texhList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
}

@media screen and (max-width: 885px) {
  .wrapper__texhList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 670px) {
  .wrapper__texhList {
    grid-template-columns: 1fr;
    justify-items: stretch;
    align-items: center;
    gap: $indent-20;
  }
}

@media screen and (max-width: 485px) {
  .wrapper {
    gap: $indent-20;
  }
  .wrapper__title {
    @include inter-medium-35;
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    margin-bottom: $indent-65;
  }
}
