@import "../../style.module";

.wrapper {
  @include flex-column;
  gap: $indent-35;
  margin-bottom: $indent-150;
  width: 100%;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    justify-items: center;
    align-items: center;
    row-gap: $indent-20;
    width: 100%;

  }

  &__button {
    @include main-button;
    border-color: $catalog-page-color;
    color: $catalog-page-color;

    &:hover {
      @include main-button-hover;
      background-color: $catalog-page-color;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1400px) {
  .wrapper__list {
    gap: $indent-20;
  }
}

@media screen and (max-width: 485px) {
  .wrapper {
    gap: $indent-20;
  }
  .wrapper__button {
    @include inter-regular-18;
  }
}

@media screen and (max-width: 350px) {
  .wrapper__list {
    justify-items: start;
  }
}

