@import "../../style.module";

.wrapper {
  max-width: 1300px;
  width: 100%;
  @include flex-column;
  align-items: flex-start;
  gap: $indent-65;
  margin-bottom: $indent-150;

  &__list {
    @include flex-row;
    flex-wrap: wrap;
    gap: $indent-20;
  }

  &__button {
    @include main-button;
    align-self: center;
    border-color: $news-page-color;
    color: $news-page-color;

    &:hover {
      cursor: pointer;
      @include main-button-hover;
      background-color: $news-page-color;
    }
  }
}