@import "../../style.module";

.wrapper {
  @include flex-column;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  width: 420px;
  height: 345px;
  color: $main-black;
  background-color: $main-white;
  border-radius: $border-radius;
  transition: 0.3s all;

  &:hover {
    background-color: $news-page-color;
  }

  &:hover p, &:hover h4 {
    color: $main-white;
  }

  &__image {
    //background-color: $main-white;
    max-width: 420px;
    max-height: 210px;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }

  &__textBlock {
    @include flex-column;
    align-items: flex-start;
    justify-content: space-between;
    color: $main-black;
    padding: 0 20px 20px;
    width: 100%;
    height: 100%;
    gap: 50px;
    text-decoration: none;

    &__title {
      @include inter-regular-20;
      width: 100%;
    }

    &__button {
      @include flex-row;
      justify-content: flex-start;
      gap: $indent-10;
      width: 100%;

      &__p {
        @include inter-medium-14;
      }
    }
  }
}

@media screen and (max-width: 1415px) {
  .wrapper {
    width: 400px;
  }
}

@media screen and (max-width: 1360px) {
  .wrapper {
    width: 310px;
    border: 2px solid $main-gray;
  }
  .wrapper__image {
    width: 310px;
  }
}

@media screen and (max-width: 485px) {
  .wrapper__textBlock__title {
    @include inter-regular-18;
  }
}

@media screen and (max-width: 330px) {
  .wrapper, .wrapper__image {
    width: 300px;
  }
}