@import "../../style.module";

.wrapper {
  @include flex-column;
  justify-content: flex-start;
  position: relative;
  width: 400px;
  height: 375px;
  background-color: $main-white;
  color: $main-black;
  border-radius: $border-radius;
  transition: 0.3s all;

  &:hover {
    background-color: $news-page-color;
    color: $main-white;
  }

  &__tag {
    @include inter-regular-14;
    line-height: normal;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: max-content;
    padding: 5px 8px;
    color: $main-black;
    background-color: $catalog-page-color;
    border-radius: $border-radius;
  }

  &__image {
    background-color: $main-white;
    max-width: 420px;
    max-height: 201px;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }

  &__textBlock {
    @include flex-column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    gap: 50px;

    &__title {
      @include inter-regular-20;
      width: 100%;
    }

    &__button {
      width: 100%;
      text-decoration: none;
      color: $main-black;
      transition: 0.3s all;

      &::after {
        content: "→";
        color: $main-black;
        padding-left: 5px;
      }

      &:hover, &:hover::after {
        color: $main-white;
      }
    }
  }
}