$colors: (main-page-color: #007CBC,
        provider-page-color: #DF0E86,
        catalog-page-color: #FFC419,
        news-page-color: #01A3D4,
        contacts-page-color: #2E379E,
        about-page-color: #DC2C1D
);