@import './style.module';

.App {
  margin-top: 80px;
  width: 100%;
  overflow-x: hidden;
  @include flex-column;
  padding: 30px 70px 0 70px;
}

@media screen and (max-width: 1220px) {
.App {
  margin-top: 20px;
}
}

@media screen and (max-width: 575px) {
  .App {
    margin-top: 10px;
    padding: 30px 45px 0 45px;
  }
}

@media screen and (max-width: 460px) {
  .App {
    padding: 30px 25px 0 25px;
  }
}

@media screen and (max-width: 360px) {
  .App {
    padding: 30px 20px 0 20px;
  }
}

@media screen and (max-width: 335px) {
  .App {
    padding: 30px 10px 0 10px;
  }
}