@import "../../style.module";

.wrapper {
  //max-width: 1300px;
  width: 100%;
  @include flex-column;
  align-items: flex-start;
  gap: $indent-65;
  margin-bottom: $indent-150;

  &__button {
    align-self: center;
    @include main-button;

    &:hover {
      @include main-button-hover;
    }
  }
}

.wrapperTwo {
  @include flex-column;
  gap: $indent-35;
  width: 100%;
  align-items: stretch;

  &__title {
    @include inter-medium-50;
  }

  &__elements {
    width: 100%;
    //@include flex-row;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    //width: 100%;
    overflow-x: hidden;
    //padding-bottom: $indent-65;
  }

}


@media screen and (max-width: 1090px) {
  .wrapperTwo__elements {
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: max-content;
  }
}

@media screen and (max-width: 775px) {
  .wrapper {
    gap: $indent-65;
    margin-bottom: $indent-65;
  }
  .wrapperTwo__elements {
    grid-template-columns: max-content;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 485px) {
  .wrapperTwo {
    gap: $indent-20;
  }
  .wrapperTwo__title {
    @include inter-medium-35;
    font-size: 30px;
  }
  .wrapper__button {
    @include inter-regular-18;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    gap: $indent-20;
  }
}
