@import '../../style.module';

.wrapper {
  width: 100%;
  @include flex-column;
  align-items: center;
  gap: $indent-35;
  margin: $indent-65 auto $indent-150;

  &__btnGoBack {
    width: 100%;
  }

  &__title {
    @include inter-medium-50;
    color: $main-black;
    text-align: center;
    width: 100%;
  }

  &__textContainer {
    max-width: 1080px;
    width: 100%;
    @include flex-column;
    align-items: center;
    justify-content: center;
    gap: $indent-65;

    &__images {
      @include flex-column;
      align-items: flex-start;
      gap: $indent-65;

      &__img {
        max-width: 615px;
        max-height: 285px;
        border-radius: $border-radius;
      }
    }


    &__text {
      @include inter-regular-20;
      color: $main-black;
      line-height: 30px;
      text-align: justify;
      width: 100%;
    }


  }

}

.textCenter {
  max-width: 850px;
  width: 100%;
}



