@import '../../style.module';

.wrapper {
  width: 100%;
  @include flex-column;
  align-items: center;
  gap: $indent-35;
  margin: $indent-65 auto $indent-150;

  &__btnGoBack {
    width: 100%;
  }

  &__title {
    @include inter-medium-50;
    color: $main-black;
    text-align: center;
    width: 100%;
  }

  &__textContainer {
    max-width: 1080px;
    width: 100%;
    @include flex-column;
    align-items: center;
    justify-content: center;
    gap: $indent-65;

    &__images {
      @include flex-column;
      align-items: flex-start;
      gap: $indent-65;
      width: 100%;

      &__img {
        max-width: 615px;
        max-height: 285px;
        border-radius: $border-radius;
      }
    }


    &__text {
      @include inter-regular-20;
      color: $main-black;
      line-height: 30px;
      text-align: justify;
      width: 100%;
    }


  }

}

.textCenter {
  max-width: 850px;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .wrapper__title {
    @include inter-medium-35;
    font-size: 30px;
    text-align: left;
  }
  .wrapper__textContainer__text {
    @include inter-regular-18;
    text-align: left;
  }
}

@media screen and (max-width: 485px) {
  .wrapper {
    gap: $indent-20;
  }
  .wrapper__title {
    @include inter-medium-20;
    font-size: 25px;
  }
  .wrapper__textContainer {
    gap: $indent-20 !important;
  }
}

@media screen and (max-width: 385px) {
  .wrapper {
    margin-top: $indent-35;
  }
}



