@import "../../style.module";

.wrapper {
  @include flex-column;
  max-width: 610px;
  width: 100%;
  gap: $indent-65;
  height: 100vh;

  &__text {
    @include flex-column;
    gap: $indent-35;

    &__title {
      @include inter-medium-50;
      font-weight: 400;
      color: $main-black;
    }

    &__p {
      @include inter-regular-25;
      color: $main-black;
      text-align: center;
    }
  }

  &__button {
    @include main-button;

    &:hover {
      @include main-button-hover;
    }
  }

}

@media screen and (max-width: 485px) {
  .wrapper__text__title {
    @include inter-medium-35;
    font-size: 30px;
  }
  .wrapper__text {
    gap: $indent-20;
  }
  .wrapper__text__p {
    @include inter-regular-18;
  }
  .wrapper__text__img {
    height: 135px;
  }
  .wrapper {
    gap: $indent-35;
  }
}

