@import "../../style.module";

.container {
  //max-width: 1300px;
  width: 100%;
  margin-bottom: $indent-65;
}

.tagList {
  @include flex-row;
  align-items: flex-start;
  margin-bottom: $indent-65;
}

@media screen and (max-width: 1200px) {
  .tagList {
    gap: $indent-20;
  }
}

@media screen and (max-width: 935px) {
  .tagList {
    flex-direction: column;
  }
}

@media screen and (max-width: 485px) {
  .tagList {
    margin-bottom: $indent-35;
  }
}